@mixin set-wh($w, $h) {
    width: $w;
    height: $h;
}

.btn-play-cut {
    @include set-wh(40px, 40px);
    background-color: black;
    opacity: 0.6;
    border: 25px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    margin: 6px;

}

.icon-fa-move {
    >div {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        display: table;
        margin: 0 auto;
    }
}

.text-player-info {
    background-color: orange;

    div {
        // margin-left: 10px;
    }

    >div:nth-child(1) {
        @extend .icon-fa-move;
        @include set-wh(26px, 26px);
        background-color: #23e412;
        display: inline-block;
    }

    >div:nth-child(2) {
        @include set-wh(96px, 26px);
        margin-left: 8px;
        background-color: #e3c417;
        display: inline-block;
        position: absolute;
        font-size:0.6em; 
        line-height: 30px;
            overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
        

        
    }
}
.cursor-link{
    cursor: url('../assets/images/link.cur'), auto;
}
.cursor-miku{
    cursor: url('../assets/images/miku.png'), auto;

}