.box-father %bf{
    height: 100px;
    width:100px;
    background-color: red;
}
.box--1{
    @extend %bf;
}








a[href^="asd"] {
    width: 100px;
    height: 100px;
    background-color: red;
}

@import 'demo-1.scss';

article {
    +section {
        border: 2px solid blue
    }

    ~section {
        border: 2px solid red
    }

    >section {
        border: 2px solid green
    }

    div>section {
        border: 2px solid rgb(0, 255, 234)
    }

    +div {
        border: 2px solid pink
    }

    // ~ div{border: 1px solid violet}
    //  &~* {background-color: #2e2e2e;};
}

article,
section,
div {
    width: 100px;
    height: 100px;
}