.btn-play-cut, .player-main > div:nth-child(1) > div {
  width: 40px;
  height: 40px;
  background-color: black;
  opacity: 0.6;
  border: 25px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  margin: 6px; }

.icon-fa-move > div, .text-player-info > div:nth-child(1) > div, .player-info > div > div:nth-child(1) > div:nth-child(1) > div, .player-info > div > div:nth-child(2) > div:nth-child(1) > div, .player-main > div:nth-child(1) > div > div, .player-control > ul > li:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: table;
  margin: 0 auto; }

.text-player-info, .player-info > div > div:nth-child(1), .player-info > div > div:nth-child(2) {
  background-color: orange; }
  .text-player-info > div:nth-child(1), .player-info > div > div:nth-child(1) > div:nth-child(1), .player-info > div > div:nth-child(2) > div:nth-child(1) {
    width: 26px;
    height: 26px;
    background-color: #23e412;
    display: inline-block; }
  .text-player-info > div:nth-child(2), .player-info > div > div:nth-child(1) > div:nth-child(2), .player-info > div > div:nth-child(2) > div:nth-child(2) {
    width: 96px;
    height: 26px;
    margin-left: 8px;
    background-color: #e3c417;
    display: inline-block;
    position: absolute;
    font-size: 0.6em;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.cursor-link, a:hover {
  cursor: url("../assets/images/link.cur"), auto; }

.cursor-miku, .player .player-panel {
  cursor: url("../assets/images/miku.png"), auto; }

@font-face {
  font-family: pixelFont;
  src: url("../assets/fonts/pixel-china.ttf"); }
body {
  cursor: url("../assets/images/default.cur"), auto;
  position: fixed;
  z-index: 10;
  font-family: pixelFont; }

#bg-image {
  position: fixed;
  z-index: -9999;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  min-width: 1024px;
  min-height: 100%; }

img#background {
  position: fixed;
  z-index: -9999;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  min-width: 1024px;
  min-height: 100%;
  background-size: cover;
  animation-delay: 0s 1s forwards ease; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.player, .player .player-panel {
  float: left;
  position: fixed;
  opacity: 1; }
  .player .player-panel {
    width: 140px;
    height: 322px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 8px;
    z-index: -99; }
    .player .player-panel > div:nth-child(1), .player .player-panel .player-panel > div:nth-child(1) {
      box-shadow: 0 0 6px 0 black inset;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 12;
      pointer-events: none; }
    .player .player-panel > div:nth-child(2), .player .player-panel .player-panel > div:nth-child(2) {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      background-color: #fafafa;
      z-index: 11; }

.player-main {
  width: 100%;
  height: 102px;
  display: table; }
  .player-main > div:nth-child(1) {
    display: table-cell;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    vertical-align: middle;
    transform: translate(0, -6px);
    opacity: 0;
    transition: opacity linear 0.16s; }
    .player-main > div:nth-child(1):hover {
      opacity: 1; }
    .player-main > div:nth-child(1) > div {
      color: #fafafa; }
      .player-main > div:nth-child(1) > div:hover {
        opacity: 0.7; }
  .player-main > div:nth-child(2) {
    width: 100%;
    height: 18px;
    background-color: #505050;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 84px);
    opacity: 1; }
    .player-main > div:nth-child(2) > div:nth-child(1) {
      float: right;
      font-size: 0.6em;
      font-weight: bold;
      line-height: 20px;
      margin-right: 5px; }
      .player-main > div:nth-child(2) > div:nth-child(1) > span {
        color: #fafafa;
        position: relative;
        z-index: 11; }
    .player-main > div:nth-child(2) > div:nth-child(2) {
      width: 60%;
      height: 18px;
      background-color: #969696; }
  .player-main > div:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -44; }
    .player-main > div:nth-child(3) > img {
      width: 140px;
      height: 84px; }

.player-info {
  width: 100%;
  height: 80px;
  background-color: blue; }
  .player-info > div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }
    .player-info > div > div:nth-child(1) {
      width: 100%;
      height: 26px;
      margin-bottom: 6px; }
    .player-info > div > div:nth-child(2) {
      width: 100%;
      height: 26px;
      margin-top: 6px; }

.player-control {
  width: 100%;
  height: 100px;
  background-color: yellow; }
  .player-control > ul {
    transform: translate(0, 16%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; }
    .player-control > ul li {
      width: 70px;
      height: 100px;
      display: table-cell; }
    .player-control > ul > li:nth-child(1) > div:nth-child(1) {
      width: 50px;
      height: 74%;
      background-color: #345672;
      margin: 0px auto;
      border-radius: 15px;
      overflow: hidden;
      transform: rotate(180deg); }
      .player-control > ul > li:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
        width: 20px;
        height: 20px;
        background-color: 12764;
        position: absolute;
        transform: translate(75%, 150%); }
        .player-control > ul > li:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div {
          color: #fafafa; }
      .player-control > ul > li:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
        width: 50px;
        height: 50px;
        background-color: #4693d1;
        bottom: 0%;
        border-bottom: 6px solid  #5cfc00; }
        .player-control > ul > li:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div {
          width: 100%;
          height: 4px; }
    .player-control > ul > li:nth-child(2) > div {
      position: absolute;
      display: table; }
      .player-control > ul > li:nth-child(2) > div > div:nth-child(1) {
        width: 60px;
        height: 32px;
        background-color: lightgreen;
        margin: 2px auto;
        border-radius: 16px; }
        .player-control > ul > li:nth-child(2) > div > div:nth-child(1) > div {
          width: 28px;
          height: 28px;
          background-color: white;
          position: absolute;
          border-radius: 14px;
          display: table;
          margin: 2px; }
          .player-control > ul > li:nth-child(2) > div > div:nth-child(1) > div > div {
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            font-size: 1.2em;
            background-color: #978672;
            display: table-cell;
            transform: scale(0.7); }
      .player-control > ul > li:nth-child(2) > div > div:nth-child(2) {
        width: 60px;
        height: 30px;
        background-color: lightgreen;
        margin: 5px auto;
        border-radius: 10px; }
        .player-control > ul > li:nth-child(2) > div > div:nth-child(2) > div {
          width: 30px;
          height: 30px;
          max-width: 30px;
          background-color: #fff;
          display: table;
          margin: 0 auto; }
          .player-control > ul > li:nth-child(2) > div > div:nth-child(2) > div > i {
            transform: translate(5px, 5px); }

.player-other {
  width: 100%;
  height: 40px;
  background-color: #3E3D3D; }
  .player-other > div {
    display: table;
    margin: 0 auto;
    transform: translate(0, 8px); }
    .player-other > div > div {
      width: 24px;
      height: 4px;
      background: #fafafa;
      margin-top: 3px; }

.hr-music {
  position: absolute;
  width: 100%;
  transform: translate(0, -5px); }
  .hr-music > hr {
    width: 90%;
    background-image: linear-gradient(to right, rgba(64, 64, 64, 0.1), black, rgba(64, 64, 64, 0.1));
    height: 2px;
    border: 0px; }

/*# sourceMappingURL=main.css.map */
